<div class="login">
    <h3>Kirjaudu sisään</h3>

    <%= form_tag sessions_path do %>
      <div class="form-group">
        <input class="form-control" <%= text_field_tag :name, params[:name], :placeholder => 'Käyttäjätunnus' %></input>
      </div>
      <div class="form-group">
        <input class="form-control" <%= text_field_tag :password, params[:password], :placeholder => 'Salasana' %></input>
      </div>
      <%= submit_tag "Kirjaudu", class:'btn btn-primary' %>
    <% end %>
</div>