<div class="login">
    <h3>Please, sign in first</h3>

    <%= form_tag sessions_path do %>
        <%= text_field_tag :name, params[:name], :placeholder => 'Username' %><br/><br/>
        <%= text_field_tag :password, params[:password], :placeholder => 'Password' %><br/><br/>
        <%= submit_tag "Log in" %>

    <% end %>
</div>


