<h2>Please, sign in first</h2>
<br/>
<%= form_tag sessions_path do %>
    Username:
    <%= text_field_tag :name, params[:name] %>
    Password:
    <%= text_field_tag :password, params[:password] %>
    <%= submit_tag "Log in" %>

<% end %>
