<h2>Moi <%= current_user.name %>!</h2>
<% @cabins.each do |cabin| %>
  <h3><%= cabin.name %></h3>
    <p>Seuraava reissu:</p>
    <% if cabin.next_visit(cabin.id).nil? %>
        <p>Hmm, kukaan ei tunnusta menev채ns채 seuraavan 6kk sis채ll채..</p>
    <% else %>
        <p><%= cabin.next_visit(cabin.id) %></p>
    <% end %>
<% end %>


